<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To-do List---Sharie</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<style>
		body.container{
			max-width:600px;
		}
		.done{
			color:#ccc;
		}
		.checkbox{
			margin-right: 20px;
			margin-bottom:0;
		}
		.done>.checkbox> label> span{
			text-decoration:line-through;
		}
	</style>
</head>
<body class="container" ng-app="TodoApp">
<header>
	<h1 style="text-align:center">To-do List</h1>
	<hr>
</header>
<section ng-controller="MainController">
	<form class="input-group input-group-lg">
		<input type="text" class="form-control" ng-model="text">
		<span class="input-group-btn">
			<button class="btn btn-secondary" ng-click="add()">Add</button>
		</span>
	</form>
	<ul class="list-group m-y-2" style="margin-top:20px">
		<li class="list-group-item" ng-class="{'done':item.done}" ng-repeat="item in todoList">
		<button type="button" class="close" aria-label="Close" ng-click="delete()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
			<div class="checkbox">
				<label><input type="checkbox" ng-model="item.done">&nbsp;<span>{{item.text}}</span></label>
			</div>
		</li>
	</ul>
	<p style="text-align: center;"><strong>{{todoList.length}}&nbsp;</strong>tasks in total,<strong>&nbsp;{{doneCount()}}&nbsp;</strong>tasks completed</p>
	<p style="text-align: center;"><a href="#">created by Sharie Chen</a></p>
</section>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="todolist.js"></script>
</body>
</html>